<section class='links'>
  <nav class='company'>
    <h3>About</h3>
    <a href='/faq'>FAQ</a>
    <a href='/privacy'>Privacy policy</a>
    <a href='/tos'>Terms of service</a>
  </nav>

  <nav class='contact'>
    <h3>Connect</h3>
    <a href='mailto:info@wiredcraft.com'>Email</a>
    <a href='http://twitter.com/wiredcraft'>Twitter</a>
    <a href='http://weibo.com/wiredcraft'>Weibo</a>
  </nav>

  <nav class='products'>
    <h3>Products</h3>
    <a href='http://devo.ps'>devo.ps</a>
    <a href='http://octochat.com'>Octochat</a>
    <span>chato.ps <small>(soon)</small></span>
  </nav>
</section>

<section class='credit'>
  <h3>Built by Wiredcraft</h3>
  <img src='/assets/images/wiredcraft.png' alt='Wiredcraft'/>
  <p><a href='http://wiredcraft.com'>Wiredcraft</a> is a consultancy based out of San Francisco and Shanghai, building products at the intersection of technology and data.</p>
</section>

<section class='copyright'>©2014 Wiredcraft Co ltd</section>
