<div class='group'>

  <div class='site-footer-nav'>
    <dl class='nav'>
      <dt class='leader'>About</dt>
      <dd class='site-links'>
        <a href='/faq'>FAQ</a><br>
        <a href='/privacy'>Privacy policy</a><br>
        <a href='/tos'>Terms of service</a>
      </dd>
    </dl>
    <dl class='nav'>
      <dt class='leader'>Connect</dt>
      <dd class='site-links'>
        <a href='mailto:info@wiredcraft.com'>Email</a><br>
        <a href='http://twitter.com/wiredcraft'>Twitter</a><br>
        <a href='http://weibo.com/wiredcraft'>Weibo</a>
      </dd>
    </dl>
    <dl class='nav'>
      <dt class='leader'>Products</dt>
      <dd class='site-links'>
        <a href='http://devo.ps'>devo.ps</a><br>
        <a href='http://octochat.com'><del>Octochat</del></a><br>
        <span>chato.ps<i>(soon)</i></span>
      </dd>
    </dl>
  </div>

  <aside class='honor'>
    <h3>Built by Wiredcraft</h3>
    <div class='summary'>
      <img src='/assets/images/wiredcraft.png' alt='Wiredcraft'>
      <p><a href='http://wiredcraft.com'>Wiredcraft</a> is a consultancy based
        out of San Francisco and Shanghai, building products at the intersection
        of technology and data.</p>
    </div>
  </aside>
</div>
<div class='copyright'>&copy; 2014 Wiredcraft Co ltd</div>
