#content {
  .content {
    @include clearfix();
    padding: 2*$gutter 0;
  }
  #hero {
    background: tint($base, 90%);
    border-top: 1px solid tint($base, 85%);
    .content {
      text-align: center;
    }
    h1 {
      margin-bottom: $gutter/2;
    }
    h2 {
      font-size: $large;
      margin-bottom: 2*$gutter;
    }
    .button {
      font-size: $large;
      padding: 1.5*$gutter/2 $gutter;
    }
    .screenshot {
      display: block;
      height: 360px;
      margin: 2*$gutter auto -2*$gutter;
      overflow: hidden;
    }
  }
  .section {
    h2 {
      color: tint($base, 60%);
      font-size: $large;
      margin-bottom: 2*$gutter;
      text-align: center;
    }
  }
  #features {
    ul {
      @include clearfix();
      list-style: none;
      margin: 0;
      margin-right: -$gutter;
      padding: $gutter 0 0;
      li {
        float: left;
        margin-right: $gutter;
        width: ($content - 2*$gutter)/3;
        img {
          float: left;
          margin: 0 $gutter 0 0;
        }
        h3 {
          font-size: $size;
          font-weight: bold;
        }
        h3,
        p {
          margin-left: 90 + $gutter;
        }
        &.soon {
          h3:after {
            background: tint($yellow, 60%);
            @include border-radius($radius);
            color: shade($yellow, 40%);
            content: 'Soon';
            font-size: $pico;
            line-height: 1;
            margin-left: $gutter/4;
            padding: $gutter/5 $gutter/4;
            text-transform: uppercase;
          }
          img {
            opacity: 0.6;
          }
        }
      }
    }
  }
  #signup {
    font-size: $large;
    .content {
      background: tint($blue, 90%);
      @include border-radius($radius);
      padding: $gutter;
      text-align: center;
      width: $content - 2*$gutter;
    }
    .button {
      margin-left: $gutter/2;
      padding: $gutter/2 1.5*$gutter/2;
    }
  }
  #more {
    .why,
    .testimonies {
      width: $content/2 - $gutter;
    }
    .why {
      float: left;
      ul {
        list-style: none;
        margin: 0;
        li {
          margin: 0 0 $gutter/2;
          &:before {
            @include icon();
            content: 'c';
            margin-right: $gutter/4;
          }
        }
      }
    }
    .testimonies {
      float: right;
      ul {
        list-style: none;
        margin: 0;
        li {
          margin-bottom: $gutter;
          padding: 0;
          img {
            @include border-radius($radius);
            float: left;
            height: 1.5*$gutter;
            margin-top: $gutter/4;
          }
          blockquote {
            font-style: italic;
            margin: 0 0 $gutter/4 2*$gutter;
          }
          small {
            display: block;
            font-size: $micro;
            margin: 0 0 0 2*$gutter;
          }
        }
      }
    }
  }
}