#footer {
  background: tint($base, 90%);
  color: tint($base, 40%);
  font-size: $small;
  padding: 2*$gutter 0;
  h3 {
    color: tint($base, 20%);
    font-size: $small;
    font-weight: bold;
    margin-bottom: $gutter/4;
  }
  .links {
    width: $content/2;
    a,
    span {
      color: inherit;
      display: block;
    }
    span {
      color: tint($base, 60%);
    }
    nav {
      float: right;
      width: $content/6;
    }
  }
  .credit {
    float: right;
    width: $content/2;
    h3,
    p {
      margin-left: 3*$gutter;
    }
    a {
      color: inherit;
    }
    img {
      @include filter(grayscale(100%));
      float: left;
      margin: $gutter/4 0 0;
      opacity: 0.4;
      width: 2*$gutter;
    }
  }
  &:hover .credit {
    a {
      color: shade($blue, 10%);
    }
    img {
      @include filter(none);
      opacity: 1;
    }
  }
  .copyright {
    clear: both;
    color: tint($base, 70%);
    margin: 0;
    padding-top: $gutter;
  }
}