#header {
  background: $base;
  color: tint($base, 90%);
  padding: $gutter 1.5*$gutter/2;
  .content {
    text-align: right;
  }
  a {
    color: inherit;
    &:hover {
      color: #FFF;
    }
  }
  .logo {
    color: #FFF;
    float: left;
    font-family: $brand;
    font-size: $huge;
    font-weight: 600;
    margin-top: $gutter/4;
    &:before {
      @include icon();
      color: $yellow;
      content: '1';
      font-size: $large;
      margin-right: $gutter/2;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .navigation {
    a {
      display: inline-block;
      font-size: $small;
      line-height: 140%;
      margin-left: $gutter;
      text-align: center;
      width: 120px;
      small {
        color: tint($base, 60%);
        display: block;
        font-size: $micro;
        text-transform: none;
      }
      &:hover {
        text-decoration: none;
      }
      &.sign-in {
        border: 1px solid tint($base, 10%);
        @include border-radius($radius);
        line-height: 1;
        padding: $gutter/2 $gutter;
        vertical-align: top;
        width: auto;
        &:hover {
          border-color: tint($base, 20%);
        }
      }
    }
  }
}