#overlay {
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1000;
}

#modal {
  background: #FFF;
  @include border-radius($radius);
  display: none;
  margin: 4*$gutter auto;
  max-width: $modal;
  text-align: left;
  z-index: 3000;
  .header {
    background: tint($base, 95%);
    border-bottom: 1px solid tint($base, 90%);
    @include border-radius($radius $radius 0 0);
    padding: 1.5*$gutter/2 $gutter;
    h2 {
      font-size: $huge;
      font-weight: normal;
    }
    .close {
      color: tint($base, 60%);
      font-size: $huge;
      line-height: 1;
      padding: 1.5*$gutter/2 $gutter;
      margin: (-1.5*$gutter/2) (-$gutter);
      margin-left: 0;
      &:hover {
        color: tint($base, 20%);
        text-decoration: none;
      }
      &:before {
        @include icon();
        content: 'x';
      }
      span {
        display: none;
      }
    }
  }
  .body {
    @include clearfix();
    padding: $gutter;
    h2 {
      font-size: $large;
      margin: 0 0 $gutter;
    }
    .options {
      margin-bottom: $gutter/2;
      .button {
        float: right;
      }
    }
    .list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        border-top: 1px solid tint($base, 95%);
        padding: $gutter/2;
        &:first-child {
          border-top-color: tint($base, 90%);
        }
        &:hover,
        &.disabled {
          background: tint($base, 95%);
        }
      }
      h3 {
        display: inline;
        font-size: $size;
        font-weight: bold;
        margin-right: $gutter/4;
        a {
          color: inherit;
        }
      }
      .details {
        color: tint($base, 40%);
        margin-right: $gutter/4;
      }
      .disabled {
        h3,
        .details {
          opacity: 0.8;
        }
      }
      .controls a {
        display: inline-block;
        margin-left: $gutter;
        &:before {
          @include icon();
        }
      }
    }
  }
  .notifications {
    table td {
      text-align: center;
      white-space: nowrap;
    }
    ul {
      li {
        label,
        input {
          display: inline-block;
        }
      }
    }
  }
}

body.modal {
  #overlay {
    background: rgba(0, 0, 0, 0.8);
    display: block;
  }
  #modal {
    display: block;
  }
}