<section class='credit'>
  <img src='/assets/images/wiredcraft.png' alt='Wiredcraft'/>
  <h3>Built by Wiredcraft</h3>
  <p><a href='http://wiredcraft.com'>Wiredcraft</a> is a consultancy based out of San Francisco and Shanghai, building products at the intersection of technology and data.</p>
</section>

<section class='links'>
  <nav class='products'>
    <h3>Products</h3>
    <a href='mailto:info@wiredcraft.com'>devo.ps</a>
    <span>chato.ps (soon)</span>
    <span>Octochat (soon)</span>
  </nav>

  <nav class='contact'>
    <h3>Connect</h3>
    <a href='mailto:info@wiredcraft.com'>Email</a>
    <a href='http://twitter.com/wiredcraft'>Twitter</a>
    <a href='http://weibo.com/wiredcraft'>Weibo</a>
  </nav>

  <nav class='company'>
    <h3>Company</h3>
    <a href='http://wiredcraft.com/#about'>About</a>
    <a href='http://wiredcraft.com/#team'>Team</a>
    <a href='http://wiredcraft.com/careers'>Jobs</a>
    <a href='http://wiredcraft.com/blog'>Blog</a>
  </nav>
</section>

<p class='copyright'>©2014 Wiredcraft Co ltd</p>