/* Colors */

$blue: #0e90d2;
$purple: rgb(128, 88, 165);
$green: #5eb95e;
$red: #dd514c;
$orange: rgb(243, 123, 29);
$yellow: rgb(250, 210, 50);
$grey: rgb(180, 180, 180);
$base: shade(desaturate($blue, 70%), 65%);

/* Spacing */

$gutter: 20px;
$radius: 2px;

/* Typography */

$font: 'Open Sans', Arial, sans-serif;
$brand: 'Titillium Web', Arial, sans-serif;
$pico: 10px;
$micro: 12px;
$small: 14px;
$size: 16px;
$large: 18px;
$huge: 24px;
$gigantic: 32px;
$loading: 60px;
$offline: 500px;

/* Layout */

$content: 1000px;
$modal: 600px;