---
layout: default
class: blog-post
---

<div class='content section'>  
  <article class='post'>
    <aside class='meta'>
      <div class='authoring'>
        {% for member in site.categories.profiles %}
        {% if member.user == page.author %}
        <span class='vcard'>
          <img class='photo' alt='Picture of {{ member.title }}' src='/images/avatars/{{ member.user }}.png'/>
          <span class='fn'>{{ member.title }}</span>
        </span>
        {% endif %}
        {% endfor %}
        <span class='time'>on <time datetime='{{ page.date | xmlschema }}'>{{ page.date | date: '%B %d, %Y' }}</time></span>
      </div>

      <ul class='links'>
        <li><a href='/atom.xml'>Subscribe to our RSS feed</a></li>
        <li><a href='https://twitter.com/intent/tweet?text={{ page.title }}%20@wiredcraft%20&related=wiredcraft&url={{ site.url }}{{ page.url }}' target='_blank'>Share on Twitter</a></li>
        {% if page.hn %}<li><a href='http://news.ycombinator.com/item?id={{ page.hn }}' target='_blank'>Discuss on Hacker News</a></li>{% endif %}
        <li><a href='http://eepurl.com/CbCx5' class='Newsletter'>Subscribe to our Newsletter</a></li>
      </ul>
    </aside>

    <section class='body'>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </section>

    <footer class='footer'>
      <h3>Have some feedback? <a href='https://twitter.com/intent/tweet?text=@wiredcraft%20&related=wiredcraft&url={{ site.url }}{{ page.url }}' target='_blank'>Let us know on Twitter</a>{% if page.hn %} or continue the discussion on <a href='http://news.ycombinator.com/item?id={{ page.hn }}' target='_blank'>Hacker News</a>{% endif %}.</h3>
    </footer>
  </article>
</div>