@mixin notifications() {
  @include border-radius($radius);
  color: #FFF;
  display: block;
  padding: $gutter/2 1.5*$gutter/2;
  &.error {
    background: $red;
    .close {
      color: shade($red, 30%);
    }
  }
  &.info {
    background: $blue;
    .close {
      color: shade($blue, 30%);
    }
  }
  &.success {
    background: $green;
    .close {
      color: shade($green, 30%);
    }
  }
  &.warning {
    background: $orange;
    .close {
      color: shade($orange, 30%);
    }
  }
  &.loading {
    &:before {
      @include spinner(#FFF);
      margin-right: $gutter/2;
    }
  }
  a {
    color: inherit;
    text-decoration: underline;
    &:active,
    &:hover {
      text-decoration: none;
    }
    &.close {
      float: right;
      line-height: 1;
      font-size: $huge;
      margin: 0;
      padding: 0;
      text-decoration: none;
      &:hover {
        &:before {
          color: #FFF;
        }
      }
      &:before {
        @include icon();
        content: 'z';
      }
      span {
        display: none;
      }
    }
  }
}