@-webkit-keyframes spinning {
  to {
    @include transform(rotate(360deg));
  }
}

@-moz-keyframes spinning {
  to {
    @include transform(rotate(360deg));
  }
}

@-ms-keyframes spinning {
  to {
    @include transform(rotate(360deg));
  }
}

@-o-keyframes spinning {
  to {
    @include transform(rotate(360deg));
  }
}

@keyframes spinning {
  to {
    @include transform(rotate(360deg));
  }
}

@mixin spinner($color: $base, $size: 10px, $thickness: 2px) {
  -webkit-animation: spinning 0.7s linear infinite;
  -moz-animation: spinning 0.7s linear infinite;
  -ms-animation: spinning 0.7s linear infinite;
  -o-animation: spinning 0.7s linear infinite;
  animation: spinning 0.7s linear infinite;
  border: $thickness solid $color;
  border-top: $thickness solid rgba(0,0,0,0);
  border-left: $thickness solid rgba(0,0,0,0);
  @include border-radius(100%);
  content: ' ';
  cursor: wait;
  display: inline-block;
  height: $size;
  width: $size;
}